<header>Who's Shout?</header>
<input id="input1" [(ngModel)]="username" type="text" placeholder="Username">
<input id="input2" [(ngModel)]="password" type="password" placeholder="Password">
<p>First time here? Please register as a new user!</p>
<div>
    <input id="button" (click)="login()" type="submit" value="Login">
    <input id="button" (click)="register()" type="submit" value="Register">
</div>

<div *ngIf="isShown">
    <header id="h">Who's Shout Next?</header>
    <input id="input2" [(ngModel)]="date" type="date">
    <input id="input2" [(ngModel)]="time" type="time">
    <input id="input3" [(ngModel)]="venue" type="text" placeholder="Venue">
    <div id="button-component">
        <input id="button1" (click)="save()" type="submit" value="Save">
    </div> 
</div>

